/* Reset */
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
table {
    border-collapse: collapse;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*---------------------------------------------------------
// Desktop Nav
//--------------------------------------------------------*/
.site-container {
	width: 95%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.desktop-nav .primary-nav__list--1st {
	/*position: absolute;*/
	bottom: 16px;
	right: 0;
}

.desktop-nav .primary-nav__link,
.desktop-nav .primary-nav__item {
	display: block;
}
.desktop-nav .primary-nav__link {
	padding: 1em 2em;
}
.desktop-nav .primary-nav__item--1st {
	position: relative;
	display: table-cell;
}
.desktop-nav .primary-nav__list--2nd {
	position: absolute;
	left: 0;
	top: -1000em;
}
.desktop-nav .primary-nav__item--1st:hover .primary-nav__list--2nd {
	top: 100%;
}

.desktop-nav .primary-nav__link {
	margin-bottom: 0;
}
.site-logo__wrpr {
	width: 60px;
	min-width: 60px;
	height: 60px;
	padding-right: 1em;
}

/* Nav Toggle */
.nav-toggle {
	width: 50px;
	height: 100px;
}
.nav-toggle__innr {
	text-align: center;
	position: absolute;
	/*width: 40px;*/
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 0;
}
.nav-toggle__blip {
	display: inline-block;
	background: black;
	height: 6px;
	width: 6px;
	margin: 2px;
	border-radius: 50%;
}

/*---------------------------------------------------------
// Pac Nav
//--------------------------------------------------------*/
.js-pac-nav__inner,
.js-pac-nav__left,
.js-pac-nav__right {
	height: 100px;
}
.js-pac-nav {
	background: whitesmoke;
}
.js-pac-nav__inner {
	position: relative;
}
.js-pac-nav__left,
.js-pac-nav__right {
	position: absolute;
	display: table;
}
.js-pac-nav__left {
	top: 50%;
	left: 1.5%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.js-pac-nav__right {
	right: 1.5%;
	top: 0;
}
.js-pac-nav__pac-item {
	display: table-cell;
	vertical-align: middle;
}

/* Desktop Nav */
.js-pac-nav__desktop-nav {
	opacity: 0;
	position: relative;
}
.js-pac-nav__desktop-nav__item {
	white-space: nowrap;
	top: 0;
	opacity: 1;
	outline: 1px dashed green;
}

/* Nav Toggle */
.js-pac-nav__nav-toggle {
	z-index: -1;
	position: relative;
	cursor: pointer;  /* <= THIS IS VERY IMPORTANT. JS IOS NEEDS IT TO BE ABLE TO 'SEE' IT */
}

/* Mobile Nav */
.js-pac-nav__mobile-nav__wrpr {
	position: relative;
}
.js-pac-nav__mobile-nav {
	position: absolute;
	top: 100%;
}
.js-pac-nav__mobile-nav__item {
	display: none;
}
.js-pac-nav__desktop-nav__item--is-hidden {
	position: absolute;
	z-index: -1;
	/*opacity: 0 !important;*/
}
.js-pac-nav__mobile-nav__item--is-visible {
	display: block;
}

/* Actions! */
.js-pac-nav--is-running .js-pac-nav__nav-toggle {
	z-index: 0;
}
.js-pac-nav--is-loaded .js-pac-nav__desktop-nav {
	opacity: 1;
}

/* Is Mobile */
.js-pac-nav--is-mobile .nav-toggle__innr {
	position: absolute;
	width: 40px;
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: default;
	font-size: 0;
}
.js-pac-nav--is-mobile .nav-toggle__blip {
	display: block;
	background: black;
	height: 3px;
	width: 65%;
	margin: auto 0 auto auto;
	margin-bottom: 4px;
	border-radius: 0;
}

/* Debug */
.js-pac-nav--debug .js-pac-nav__desktop-nav__item:after,
.js-pac-nav--debug .js-pac-nav__left:after,
.js-pac-nav--debug .js-pac-nav__right:after {
	content: attr(data-js-pac-nav-position) "px";
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.75);
	padding: 0.1em 0.2em;
	color: white;
	font-size: 0.85em;
	font-family: Arial, sans-serif;
}
.js-pac-nav--debug .js-pac-nav__right:after {
	top: auto;
	bottom: 0;
}
/*.js-pac-nav--debug .js-pac-nav__desktop-nav__item--is-hidden {
	top: auto !important;
	opacity: 1 !important;
}*/