/* Reset */
body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}
*:focus {
	outline: none;
}
.article {
	display: block;
}
img {
	max-width: 100%;
	height: auto;
	border: none;
}
table {
    border-collapse: collapse;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li {
	font-weight: normal;
	margin: 0 0 1em;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*---------------------------------------------------------
// Primary Nav
//--------------------------------------------------------*/
.js-pac-nav__desktop__nav .primary-nav__list--1st {
	/*position: absolute;*/
	bottom: 16px;
	right: 0;
}

.js-pac-nav__desktop__nav .primary-nav__link,
.js-pac-nav__desktop__nav .primary-nav__item {
	display: block;
}
.js-pac-nav__desktop__nav .primary-nav__link {
	padding: 1em 2em;
}
.js-pac-nav__desktop__nav .primary-nav__item--1st {
	position: relative;
	display: table-cell;
}
.js-pac-nav__desktop__nav .primary-nav__list--2nd {
	position: absolute;
	left: 0;
	top: -1000em;
}
.js-pac-nav__desktop__nav .primary-nav__item--1st:hover .primary-nav__list--2nd {
	top: 100%;
}

.js-pac-nav__desktop__nav .primary-nav__link {
	margin-bottom: 0;
}
.js-pac-nav__logo__wrpr {
	width: 60px;
	min-width: 60px;
	height: 60px;
}

/* pac nav */
/* positioning */
.js-pac-nav {
	height: 100px;
	background: whitesmoke;
}
.js-pac-nav {
	position: relative;
}
.js-pac-nav.js-pac-nav--is-running .js-pac-nav__nav-toggle {
	z-index: 0;
}
.js-pac-nav__nav-toggle {
	width: 50px;
	height: 100px;
	z-index: -1;
	position: relative;
	cursor: pointer;  /* <= THIS IS VERY IMPORTANT. JS IOS NEEDS IT TO BE ABLE TO 'SEE' IT */
}
.js-pac-nav__nav-toggle__innr {
	text-align: center;
	position: absolute;
	/*width: 40px;*/
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 0;
}
.js-pac-nav__nav-toggle__blip {
	display: inline-block;
	background: black;
	height: 6px;
	width: 6px;
	margin: 2px;
	border-radius: 50%;
}
.js-pac-nav__desktop__item {
	display: inline-block;
	white-space: nowrap;
}

.js-pac-nav__left,
.js-pac-nav__right {
	position: absolute;
	margin: 0;
}
.js-pac-nav__left {
	top: 50%;
	left: 1.5%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: table;
}
.js-pac-nav__left > * {
	display: table-cell;
	vertical-align: middle;
}
.js-pac-nav__right {
	height: 100px;
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	right: 1.5%;
	top: 0;
}

.js-pac-nav__desktop__nav {
	opacity: 0;
}
.js-pac-nav__desktop__item {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	top: 0;
	opacity: 1;
}
.js-pac-nav--is-loaded .js-pac-nav__desktop__nav {
	opacity: 1;
}
.js-pac-nav__desktop__item--is-hidden {
	top: -1000px !important;
	opacity: 0 !important;
}
.js-pac-nav__mobile__item {
	display: none;
}
.js-pac-nav__mobile__item--is-visible {
	display: block;
}

/* Running Mobile */
.js-pac-nav--is-mobile .js-pac-nav__nav-toggle--inner {
	position: absolute;
	width: 40px;
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: default;
	font-size: 0;
}
.js-pac-nav--is-mobile .js-pac-nav__nav-toggle--inner span {
	display: block;
	background: black;
	height: 3px;
	width: 65%;
	margin: auto 0 auto auto;
	margin-bottom: 4px;
	border-radius: 0;
}

/* Debug */
.js-pac-nav--debug .js-pac-nav__desktop__item:after,
.js-pac-nav--debug .js-pac-nav__right:after {
	content: attr(data-js-pac-nav-position) "px";
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.75);
	padding: 0.1em 0.2em;
	color: white;
	font-size: 0.85em;
	font-family: Arial, sans-serif;
}

.js-pac-nav--debug .js-pac-nav__right:after {
	top: auto;
	bottom: 0;
}